*{
  text-decoration: none;
}

.yellowbar{
  width: 74.21875%;
  background-color: #ffdd00;
  height: 70px;
  padding-left:13%;
  padding-right: 13%;
  padding-bottom: 10px;
  margin-top: 0px;
}

.yellowbar >.main-menu> .ABC_logo{
  font-size: 40px;
  font-weight: 500;
  font-family: fantasy;
  /* width: 40%; */
  color : red;
  padding:3px 15px 15px 15px ;
  /* width:400px; */
  margin:10px 0px 0px 0px;
  
}

.yellowbar>.main-menu>.drop_down{
  list-style: none;
  list-style-type: none;
  padding-left: 454px;
  
  margin-top:0 ;
  margin-bottom:0 ;
}

.yellowbar>.main-menu>.drop_down>li.sub{
  float: right;
  padding: 30px 15px 27px 15px;
  /* height: 98.6px; */
  text-align: center;
  color:#ff6e00;
  font-weight: bold;
}
.yellowbar>.main-menu>.drop_down>li.sub>a{
  float: right;
  /* padding: 30px 15px 27px 15px; */
  text-align: center;
  color:#ff6e00;
  font-weight: bold;
  text-decoration: none;

  
}
.yellowbar>.main-menu>.drop_down>li.sub>a:hover{
  float: right;
  /* padding: 30px 15px 27px 15px; */
  text-align: center;
  color:red;
  text-decoration: none;
  font-weight: bold;
} 

.yellowbar>.main-menu>.drop_down>li:hover.sub{
  float: right;
  padding: 30px 15px 27px 15px;
  text-align: center;
  color:red;
  font-weight: bold;
} 

.yellowbar>.main-menu>ul.drop_down>li ul.sub_menu{
  display: none;
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
  position: absolute;
  margin-top: 27px;
}
.yellowbar>.main-menu>ul.drop_down>li ul :hover .sub_menu {
  display: block;
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
  position: absolute;
  margin-top: 27px;
  text-align: center;
  background-color: #ffdd00;
}

.yellowbar>.main-menu>ul.drop_down>li ul .sub_menu >li {
  display: inline-block;
}

.yellowbar>.main-menu>ul.drop_down>li ul .sub_menu >li :hover{
  background: #fff;
}

.yellowbar>.main-menu>ul.drop_down>li ul.sub_menu>li>a{
  color:#777;
  font-weight: 400;
  font-size: 14px;
}

.yellowbar > .main-menu{
  display: inline-flex;
}
